html{
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;

}
body{
    padding: 0;
    margin: 0;
}
.wrapper {
    width: 400px;
    border: 3px solid red;
    background-color: black;
    color: white;
    margin-left: 30px;
}
.calculator-button-row{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin-bottom: 0.5%;
}
.screen{
    text-align: right;
    font-family: 'Courier New', Courier, monospace;
    padding: 20px 5px;
    font-size: 40px;
}
.calculator-button{
    background-color:lightgray;
    color: black;
    border: none;
    font-size: 40px;
    height: 100px;
    flex-basis: 24.5%;
}
.calculator-button:hover{
    background-color: #ebebeb;
}
.calculator-button:active{
background-color: #bbcbeb;
}
.double{
flex-basis: 49.7%;
}
.triple{
    flex-basis:74.8%;
}
.calculator-button:last-child{
    background-color: #df974c;
    color: white;
}
.calculator-button:last-child:hover{
    background-color:#dfb07e;
    color: white;
}